body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

.jumbotron {
  background-color: #3498db; /* Azul claro */
  background-image: url('sua-imagem.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.lead {
    background-color: #ffff; 
    font-style: italic;
    color: #3498db; /* Azul claro */
}

#index_header {
    background-image: url('../img/capa_index.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



